@model Entities.MainModels.DiscountModel


@await Html.PartialAsync("~/Views/Common/_DataTableLength.cshtml")

<table class="table site-table-listing">
    <thead>
        <tr>
            <th id="lbl_hdr_discntCatgSelect"> Select</th>
            <th id="lbl_hdr_discntCatgIdPartial"> Category ID</th>
            <th id="lbl_hdr_discntCatgNamePartial"> Name</th>
            <th id="lbl_hdr_discntCatgParntPartial"> Parent Category</th>


          

        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null && Model.CategoryList != null && Model.CategoryList.Count > 0)
            {
                foreach (var item in Model.CategoryList)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" data_category_id="@item.CategoryId" data_category_name="@item.Name" data_parent_category_name="@item.ParentCategoryName" onclick="AddSelectedCheckCategoryToDiscountList(this)" class="form-check-input-styled-info">

                                </label>
                            </div>
                        </td>
                        <td><span class="text-dark">@item.CategoryId</span></td>


                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="text-default font-weight-semibold">@item.Name</a>

                                </div>
                            </div>
                        </td>


                        <td>@(item.ParentCategoryName)</td>







                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="20"><b>  No record found </b></td>

                </tr>
            }
        }




    </tbody>
</table>



<div class="row" id="pagination_div">

    @{
        if (Model != null && Model.pageHelperObj != null)
        {
            PagerHelper ph = new PagerHelper();
            ph.CurrentPage = Model.pageHelperObj.CurrentPage;
            ph.TotalRecords = Model.pageHelperObj.TotalRecords;
            ph.RecordsPerPage = Model.pageHelperObj.RecordsPerPage;
            ph.EntityId = Model?.PageBasicInfoObj?.EntityId ?? 0;
            ph.PageUrl = Url.Action("ShowAllProductsForDiscount", "Discounts", new { langCode = Model?.PageBasicInfoObj?.langCode });

            ph.AjaxEnabled = true;
            ph.OnClientClickAjaxCall = "PaginationAfterAjax(this)";

            @await Html.PartialAsync("~/Views/Common/_Pager.cshtml", ph)
        }

    }


</div>


