@model Entities.MainModels.DiscountModel

@{
    #region page basic info
    ViewData["Title"] = Model?.PageBasicInfoObj?.PageTitle ?? "";
    ViewData["EntityId"] = Model?.PageBasicInfoObj?.EntityId ?? 0;

    #endregion
}


<!--Page specific java script-->
<script src="~/content/themeContent/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
<script src="~/content/themeContent/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
<script src="~/content/themeContent/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
<script src="~/content/themeContent/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
<script src="~/content/themeContent/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
<!--/Page specific java script-->
@{
    List<SelectListItem> ActiveInactiveStatus = new List<SelectListItem>();
    ActiveInactiveStatus.Add(new SelectListItem { Value = "true", Text = "Active" });
    ActiveInactiveStatus.Add(new SelectListItem { Value = "false", Text = "In Active" });

    Dictionary<string, string>? IsActiveDropDown = new Dictionary<string, string>();
    IsActiveDropDown = ActiveInactiveStatus.ToDictionary(v => v.Value, t => t.Text);

    List<SelectListItem> DiscountValueType = new List<SelectListItem>();
    DiscountValueType.Add(new SelectListItem { Value = "1", Text = "Fixed Value" });
    DiscountValueType.Add(new SelectListItem { Value = "2", Text = "Percentage" });


}

<!-- Page header -->
@{
    PageHeader pageHeader = new PageHeader
            {
                PageTitle = Model?.PageBasicInfoObj?.PageTitle ?? "Page Info",
                ShowAddNewButton = false,
                ShowActionsButton = false,
                ShowExportToPdfButton = false,
                ShowExportToExcelButton = false,
                ShowGoBackButton = true,

            };

}
@await Html.PartialAsync("~/Views/Common/_PageHeader.cshtml", pageHeader)
<!-- /page header -->



<div class="content">


    <!-- Error Area -->
    <div id="error-messages-area">
        @{
            SuccessErrorMsgEntity? successErrorMsgEntity = new SuccessErrorMsgEntity();
            successErrorMsgEntity = Model.SuccessErrorMsgEntityObj == null ? new SuccessErrorMsgEntity() : Model.SuccessErrorMsgEntityObj;
        }

        @await Html.PartialAsync("~/Views/Common/_SuccessErrorMsg.cshtml", successErrorMsgEntity)
    </div>
    <!-- /Error Area -->

    <form class="form-validate-jquery" id="data-insert-form" action="#">


        <div class="card border-left-3 border-left-slate">
            <div class="card-header header-elements-inline">
                <h6 class="card-title" id="lbl_discount_page_sub_title">@(Model?.PageBasicInfoObj?.PageTitle ?? "Page Info")</h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        @*  <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>*@
                    </div>
                </div>
            </div>

            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-highlight mb-0">
                    <li class="nav-item"><a href="#discount-info-tab" id="discount-info-anchor" class="nav-link active" data-toggle="tab"><i class="icon-user mr-2"></i><span id="lbl_discount_info_tab">Discount Info</span> </a></li>
                    <li class="nav-item" id="discount-type-data-nav-item" style="display:none;"><a href="#discount-type-data-tab" id="discount-type-data-anchor" class="nav-link" data-toggle="tab"><i class="icon-address-book mr-2"></i><span id="lbl_products_tab">Products</span> </a></li>


                </ul>

                <div class="tab-content card card-body border-top-0 rounded-top-0 mb-0">
                    <div class="tab-pane fade show active" id="discount-info-tab">
                        <fieldset class="mb-3">

                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_title">Title</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Enter here the title for discount"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <input type="text" class="form-control" id="Title" name="Title" placeholder="" required>

                                </div>

                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_type"> Discount Type</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Select discount type from the dropdown"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <select id="DiscountTypeId" name="DiscountTypeId" class="form-control" onchange="GetSelectedDiscountTypeData()" required>
                                        <option value="">Select a Discount Type...</option>
                                        @{
                                            if (Model != null && Model.DiscountTypeList != null && Model.DiscountTypeList.Count > 0)
                                            {
                                                foreach (var item in Model.DiscountTypeList.Where(d => d.IsActive != null && d.IsActive == true).ToList())
                                                {

                                                    <option value="@item.DiscountTypeId">@item.DiscountTypeName</option>
                                                }
                                            }
                                        }


                                    </select>
                                </div>


                            </div>

                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_value_type">  Discount Value Type</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Select either fixed value or percentage. If percentage is selected then the discount will be calculated as a percentage on the amount"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <select id="DiscountValueType" name="DiscountValueType" class="form-control" required>
                                        <option value="">Select a Discount Value...</option>
                                        @{
                                            if (DiscountValueType != null && DiscountValueType.Count > 0)
                                            {
                                                foreach (var item in DiscountValueType)
                                                {

                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        }


                                    </select>

                                </div>

                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_value"> Discount Value</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Value of discount"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <input type="number" class="form-control" id="DiscountValue" name="DiscountValue" placeholder="" required>

                                </div>


                            </div>



                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_startDte"> Start Date</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="The product will be available on site after this date"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>

                                    <div class="input-group">

                                        <input type="datetime-local" id="StartDate" name="StartDate" class="form-control" placeholder="Start date &hellip;">
                                    </div>

                                </div>

                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_endDte">End Date</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="The product will not be available on site after this date"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>

                                    <div class="input-group">

                                        <input type="datetime-local" id="EndDate" name="EndDate" class="form-control" placeholder="Start date &hellip;">
                                    </div>

                                </div>


                            </div>

                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_couponCodeRequired">Is Coupon Code Required?</span>
                                        @*  <span class="text-danger">*</span>*@
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="If coupon code required, then it is necessary to provide coupon code in cart during order placement"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="IsCouponCodeRequired" name="IsCouponCodeRequired" onchange="EnableCouponCodeField();" class="form-check-input-styled-info" checked data-fouc>

                                        </label>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-lg-6 col-md-6" id="CouponValueDiv">

                                    <label>

                                        <span id="lbl_new_disct_couponCode"> Coupon Code</span>
                                        @*   <span class="text-danger">*</span>*@
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Coupon code"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <input type="text" class="form-control" id="CouponCode" name="CouponCode" placeholder="" required>

                                </div>



                            </div>

                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_BoundToMaxQuantity"> Is Bound To Max Quantity?</span>
                                        @*    <span class="text-danger">*</span>*@
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="If this option is enabled, then coupons will be expired after usage upto max quantity"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="IsBoundToMaxQuantity" name="IsBoundToMaxQuantity" onchange="EnableIsBoundToMaxQuantityField();" class="form-check-input-styled-info" data-fouc>

                                        </label>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-lg-6 col-md-6" id="MaxQuantityDiv" style="display:none;">

                                    <label>

                                        <span id="lbl_new_disct_mazQuantity"> Max Quantity</span>
                                        @*     <span class="text-danger">*</span>*@
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Enter here the max quantity of total usage of this discount"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <input type="number" min="0" class="form-control" id="MaxQuantity" name="MaxQuantity" placeholder="">

                                </div>



                            </div>

                            <div class="form-group row">


                                <div class="col-sm-12 col-lg-6 col-md-6">

                                    <label>

                                        <span id="lbl_new_disct_isActive">Is Active</span>
                                        <span class="text-danger">*</span>
                                        <span data-popup="tooltip" title="" data-placement="right" data-original-title="Enter here the title for discount"><i class="icon-question4 ml-1 form-tooltip-color"></i> </span>

                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input-styled-info" checked data-fouc>

                                        </label>
                                    </div>

                                </div>




                            </div>



                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="discount-type-data-tab">
                        <fieldset class="mb-3">



                            <div class="row" id="discount_type_data_list">
                            </div>


                        </fieldset>
                    </div>




                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">

                <div class="d-flex justify-content-end align-items-center">
                    <button type="reset" onclick="resetAnyFormById('data-insert-form');" class="btn btn-light" id="reset"><span id="lbl_new_form_reset_btn"> Reset</span> <i class="icon-reload-alt ml-2"></i></button>
                    <button type="submit" onclick="SaveFormRecord();" class="btn btn-primary ml-3"><span id="lbl_new_form_save_btn">Save</span> <i class="icon-paperplane ml-2"></i></button>
                </div>
            </div>
        </div>

    </form>




</div>


<div id="ProductsModalArea">
</div>

<div id="CategoriesModalArea">
</div>





@section  Scripts{

    <!--Module specific script starts here-->
    <script src="~/js/module-specific-script/discount/discount.js"></script>
    <!--Module specific script ends here-->

    <script>



        function SaveFormRecord() {


            // ✅ On formt submit,fire event prevent
            $("#data-insert-form").submit(function (e) {
                e.preventDefault();
            });

            // ✅ Check if form is valid
            if (!$("#data-insert-form").valid()) {
                event.preventDefault();
                showSuccessErrorMsg("error", "Error", "Please fill all required fields!");
                return false;
            }



            //-- #region All fields values getting area starts here

            let Title = $("#Title").val();
            let DiscountTypeId = $("#DiscountTypeId").val();
            let DiscountValueType = $("#DiscountValueType").val();
            let DiscountValue = $("#DiscountValue").val();
            let StartDate = $("#StartDate").val();
            let EndDate = $("#EndDate").val();

            //--coupon code validation
            let IsCouponCodeRequired = ($('#IsCouponCodeRequired').is(":checked") == true) ? true : false;
            let CouponCode = $("#CouponCode").val();
            if (IsCouponCodeRequired) {
                if (!checkIfStringIsEmtpy(CouponCode)) {
                    event.preventDefault();
                    showSuccessErrorMsg("error", "Error", "Coupon code required!");
                    return false;
                }
            }

            //--bound to max quantity validation
            let IsBoundToMaxQuantity = ($('#IsBoundToMaxQuantity').is(":checked") == true) ? true : false;
            let MaxQuantity = $("#MaxQuantity").val();
            if (IsBoundToMaxQuantity) {
                if (!checkIfStringIsEmtpy(MaxQuantity)) {
                    event.preventDefault();
                    showSuccessErrorMsg("error", "Error", "Max quantity required!");
                    return false;
                }
            }

            let IsActive = ($('#IsActive').is(":checked") == true) ? true : false;

            //-- #region All fields values getting area ends here


            //--#Region product associated get values
            var DiscountAssociatedProductsTableRows = [];
            var DiscountAssociatedCategoriesTableRows = [];


            switch (DiscountTypeId) {
                case '@((short)DiscountTypesEnum.AppliedOnProducts)':

                    $('.product-discount-row').each(function () {
                        let data_discount_product_id = $(this).attr("data_discount_product_id");
                        let data_discount_product_mapping_id = $(this).attr("data_discount_product_mapping_id");

                        if (!checkIfStringIsEmtpy(data_discount_product_id) || !checkIfStringIsEmtpy(data_discount_product_mapping_id)) {
                            return false;
                        }
                        DiscountAssociatedProductsTableRows.push({
                            ProductId: data_discount_product_id,
                            DiscountProductMappingID: data_discount_product_mapping_id

                        });
                    });

                    if (DiscountAssociatedProductsTableRows.length == 0) {
                        showSuccessErrorMsg("error", "Error", "Please add at least one product for this discount type!");
                        return false;
                    }

                    break;
                case '@((short)DiscountTypesEnum.AppliedOCategories)':

                    $('.category-discount-row').each(function () {
                        let data_discount_category_id = $(this).attr("data_discount_category_id");
                        let data_discount_category_mapping_id = $(this).attr("data_discount_category_mapping_id");

                        if (!checkIfStringIsEmtpy(data_discount_category_id) || !checkIfStringIsEmtpy(data_discount_category_mapping_id)) {
                            return false;
                        }
                        DiscountAssociatedCategoriesTableRows.push({
                            CategoryId: data_discount_category_id,
                            DiscountCategoryMappingID: data_discount_category_mapping_id

                        });
                    });

                    if (DiscountAssociatedCategoriesTableRows.length == 0) {
                        showSuccessErrorMsg("error", "Error", "Please add at least one category for this discount type!");
                        return false;
                    }

                    break;

                default:
                    DiscountAssociatedProductsTableRows = [];
                    DiscountAssociatedCategoriesTableRows = [];

            }


            var DiscountAssociatedProductsJson = DiscountAssociatedProductsTableRows.length == 0 ? "[]" : JSON.stringify(DiscountAssociatedProductsTableRows);
            var DiscountAssociatedCategoriesJson = DiscountAssociatedCategoriesTableRows.length == 0 ? "[]" : JSON.stringify(DiscountAssociatedCategoriesTableRows);

            //--#endRegion product associated


            //-- #region Form initialization area starts here
            var fileData = new FormData();
            fileData.append("Title", Title);
            fileData.append("DiscountTypeId", DiscountTypeId);
            fileData.append("DiscountValueType", DiscountValueType);
            fileData.append("DiscountValue", DiscountValue);
            fileData.append("StartDate", StartDate);
            fileData.append("EndDate", EndDate);
            fileData.append("IsCouponCodeRequired", IsCouponCodeRequired);
            fileData.append("CouponCode", CouponCode);
            fileData.append("IsBoundToMaxQuantity", IsBoundToMaxQuantity);
            fileData.append("MaxQuantity", MaxQuantity);
            fileData.append("IsActive", IsActive);
            fileData.append("DiscountAssociatedProductsJson", DiscountAssociatedProductsJson);
            fileData.append("DiscountAssociatedCategoriesJson", DiscountAssociatedCategoriesJson);

            //-- #endRegion Form initialization area ends here


            // ✅ Show loader area starts here
            showHideSiteMainLoader(true);
            // ✅ Show loader area ends here

            let saveUrl = "@Url.Action("InsertUpdateDiscount", "Discounts" , new { langCode = Model?.PageBasicInfoObj?.langCode })";

            $.ajax({
                type: "POST",
                url: saveUrl,
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    if (data.success) {
                        showSuccessErrorMsg("success", "Success", data.message);

                        setTimeout(function () {
                            window.location.href = "@Url.Action("DiscountsList","Discounts" , new { langCode = Model?.PageBasicInfoObj?.langCode })";
                        }, 1000);

                    }
                    else {

                        showSuccessErrorMsg("error", "Error", data.message ?? "An error occured. Please try again!");
                    }


                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function () {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here
                },
                error: function (xhr, status, error) {
                    showSuccessErrorMsg("error", "Error", "Something went wrong. Please try again");


                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function () {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here
                }
            });

        }



    </script>

}