@model Entities.CommonModels.ListingDeleteButton


@{
    List<RoleRightEntity>? UserRolesRights = sessionManager != null ? await sessionManager.GetUserRoleRightsFromSession() : new List<RoleRightEntity>();
    bool hasDeleteRecordRight = UserRolesRights != null && UserRolesRights.Count > 0 && UserRolesRights.Any(x => x.EntityId == Model.EntityId && x.RightId == (short)UserRightsEnum.Delete) ? true : false;
}


@if (hasDeleteRecordRight == true)
{
    <a href="#!" class="dropdown-item text-pink-600" onclick="showDeleteModal( '@Model.EntityId','@Model.primarykeyValue', '@Model.primaryKeyColumn', '@Model.tableName', '@Model.SqlDeleteType');" data-toggle="modal" data-target="#DeleteRecordModal"><i class="icon-trash"></i> Delete</a>
}
