@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Recovery | Admin Panel</title>


    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/content/themeContent/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/layout.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/components.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/colors.min.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/content/themeContent/global_assets/js/main/jquery.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/content/themeContent/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/plugins/ui/prism.min.js"></script>
    <script src="~/content/themeContent/assets/js/app.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/navbar_multiple.js"></script>
    <!-- /theme JS files -->
    <!--Login page changes-->
    <script src="~/content/themeContent/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/login.js"></script>

    <!--Notifications script-->
    <script src="~/content/themeContent/global_assets/js/plugins/notifications/pnotify.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/extra_pnotify.js"></script>


    <!--Custom Own CSS-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!--/Custom Own CSS-->


</head>

<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">


            <!-- /content area -->
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- password recovery form -->
                <form class="login-form" id="password_recovery_form" method="post" asp-area="" asp-controller="" asp-action="">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Password recovery</h5>
                                <span class="d-block text-muted">We'll send you instructions in email</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="email" class="form-control" placeholder="Your email" id="recover_email" name="recover_email" required>
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" onclick="ValidateEmailAndSendOTP();" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Reset password</button>
                        </div>
                    </div>



                </form>
                <!-- /password recovery form -->
                <!-- otp form -->
                <form class="login-form" id="otp_new_password_form" method="post" asp-area="" asp-controller="" asp-action="" style="display:none;">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Password recovery</h5>
                                <span class="d-block text-muted">Enter OTP & Confirm Password</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="number" class="form-control" placeholder="Enter OTP here that your received" id="OTP" name="OTP" required>
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control" tabindex="2" placeholder="Password" id="Password" name="Password" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control" tabindex="2" placeholder="Confirm Password" id="ConfirmPassword" name="ConfirmPassword" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" onclick="ValidateOTPAndChangePassword();" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Reset password</button>
                        </div>
                    </div>

                </form>
                <!-- /otp form -->


            </div>
            <!-- /content area -->




        </div>
        <!-- /main content -->

        <!-- Site main loader -->
        <partial name="~/Views/Common/PartialViews/_SiteMainLoader.cshtml" />
        <!-- /Site main loader -->


    </div>
    <!-- /page content -->
    <!--Common Hidden Fields -->
    <partial name="~/Views/Common/_HiddenHtmlFields.cshtml" />
    <!-- /Hidden Fields -->
    <!--site js -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--jquery validation script -->
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




    <script>
        function ValidateEmailAndSendOTP() {

            $("#password_recovery_form").submit(function(e) {
                e.preventDefault();
            });

            if (!$("#password_recovery_form").valid()) {
                //  event.preventDefault();
                return false;
            }


            let recover_email = $("#recover_email").val();


            if (!checkIfStringIsEmtpy(recover_email)) {
                showSuccessErrorMsg("error", "Error", "Please fill email field.");
                return false;
            }


            //--make form data
            var formDate = {
                recover_email: recover_email

            }

            // ✅ Show loader area starts here
            showHideSiteMainLoader(true);
            // ✅ Show loader area ends here



            let validationUrl = "@Url.Action("ValidateEmailAndSendOTP", "Authentication")";
            $.ajax({
                type: "POST",
                url: validationUrl,
                data: formDate,
                // datatype: "json",
                cache: false,
                async: false,

                success: function(data) {

                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function() {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here


                    console.log(data);
                    if (data.success) {
                        showSuccessErrorMsg("success", "Success", data.message);

                        $("#password_recovery_form").css("display", "none")
                        $("#otp_new_password_form").css("display", "block")


                    } else {

                        showSuccessErrorMsg("error", "Error", data.message ?? "An error occured. Please try again!");

                    }

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showSuccessErrorMsg("error", "Error", "An error occured. Please try again!");

                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function() {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here
                }
            })

        }

        function ValidateOTPAndChangePassword() {
            debugger
            $("#otp_new_password_form").submit(function(e) {
                e.preventDefault();
            });

            if (!$("#otp_new_password_form").valid()) {
                //  event.preventDefault();
                return false;
            }

            let recover_email = $("#recover_email").val();
            let Otp = $("#OTP").val();
            let Password = $("#Password").val();
            let ConfirmPassword = $("#ConfirmPassword").val();


            if (!checkIfStringIsEmtpy(recover_email)) {
                showSuccessErrorMsg("error", "Error", "Please fill email field.");
                return false;
            }

            if (!checkIfStringIsEmtpy(Otp)) {
                showSuccessErrorMsg("error", "Error", "Please fill OTP field.");
                return false;
            }

            if (!checkIfStringIsEmtpy(Password)) {
                showSuccessErrorMsg("error", "Error", "Please enter password.");
                return false;
            }

            if (!checkIfStringIsEmtpy(ConfirmPassword)) {
                showSuccessErrorMsg("error", "Error", "Please enter confirm password.");
                return false;
            }

            if (Password.length < 6 || ConfirmPassword.length < 6) {
                showSuccessErrorMsg("error", "Error", "Password & Confirm Password fields lenght should not be less than 6 characters.");
                return false;
            }


            //--confirm password
            if (Password != ConfirmPassword) {
                showSuccessErrorMsg("error", "Error", "Password does not match!");
                return false;
            }

            //--make form data
            var formDate = {
                recover_email: recover_email,
                Otp: Otp,
                Password: Password,
                ConfirmPassword: ConfirmPassword,

            }

            // ✅ Show loader area starts here
            showHideSiteMainLoader(true);
            // ✅ Show loader area ends here



            let changePasswordUrl = "@Url.Action("ValidateOTPAndChangePassword", "Authentication")";
            $.ajax({
                type: "POST",
                url: changePasswordUrl,
                data: formDate,
                // datatype: "json",
                cache: false,
                async: false,

                success: function(data) {

                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function() {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here


                    console.log(data);
                    if (data.success) {
                        showSuccessErrorMsg("success", "Success", data.message);

                        setTimeout(function() {
                            location.href = "@Url.Action("Login", "Authentication")";

                        }, 500);

                    } else {

                        showSuccessErrorMsg("error", "Error", data.message ?? "An error occured. Please try again!");

                    }

                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showSuccessErrorMsg("error", "Error", "An error occured. Please try again!");

                    // ✅ Stop loader area starts here
                    let LoaderTimeDuration = '@ConstantsHelper.SiteMainLoaderDuration()';
                    setTimeout(function() {
                        showHideSiteMainLoader(false);
                    }, LoaderTimeDuration ?? 2000);
                    // ✅ Stop loader area ends here
                }
            })
        }
    </script>


</body>
</html>
